.header {
    padding: 2rem ;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

.search{
    
    margin-left: 200px;
}

.search {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .header__searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px; /* Add some space between input field and button */
    width: 200px; /* Adjust width as needed */
  }
  
  .header__searchButton {
    padding: 8px 16px;
    background-color: #646464; /* Blue color for button */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style button when hovered */
  .header__searchButton:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  